<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Athenaeum___Integrated_Library_System.Properties.Settings.VirtualAthenaeumDatabaseConnectionString"
            connectionString="Data Source=LAPTOP-920H2PTG\SQLEXPRESS;Initial Catalog=VirtualAthenaeumDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Athenaeum___Integrated_Library_System.Properties.Settings.TheVirtualAthenaeumConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TheVirtualAthenaeum.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>